*{
    margin: 0;
}
.head{
    background-color: black;
    text-align: center;
}
.title{
    color: #b7b7b7;
    padding-top: 40px;
    
}
.title h1{
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 4px;
}
.title-main{
    text-decoration: none;
    color: #b7b7b7;
    transition: color 0.3s ease-in-out;
}
.title-main:hover{
    color: rgb(243, 60, 60);
}
.title p{
    font-size: 13px;
    letter-spacing: 5px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 50px;
}

.divider {
    width: 90%;                
    height: 1px;                
    background-color: #b7b7b7;
    margin: 20px auto;  
    transform: scaleY(0.5);
  }
.navbar{
    text-align: center;
    padding-bottom: 25px;
  }
.navs{
    display: flex;
    justify-content: center;
    gap: 34px;
    /* color: #b7b7b7; */
    list-style-type: none;
    
  }
  .navlink{
    color: #f3f1f1;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    transition: color 0.3s ease-in-out;
  }

  .navlink:hover{
    color: rgb(243, 60, 60);
  }

  .home {
    position: relative; /* Needed to position the line above the link */
  }
  
  .home::before {
    content: ""; /* Creates the pseudo-element */
    position: absolute;
    bottom: 37px; /* Adjusts the position to be just above the link */
    left: 0;
    width: 100%; /* Makes the line span the width of the "HOME" link */
    height: 1px; /* Thickness of the line */
    background-color: rgb(243, 60, 60); /* Red color */
  }


  /* Header ends Here */


.cup-image{
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.cup-image img{
    width: 100%;
    height: auto;
    max-width: 100%;
}


/* Large image ends here */


.others{
    background-color: black;
    padding-top: 150px;
    text-align: center;
}
.others p{
    font-family: "Roboto", Sans-serif;
    color: #828181;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.6
}

.other-details img{
    padding-top: 45px;
    height: 100%;
    width: 850px;
}
  

/* small image and details ends here  */

.socials{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 250px;
    padding-bottom: 200px;
}
  
.fb{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(56, 72, 123);
    
}
.fb svg{
    color: white;
    margin-top: 3.5px;
}
.ig{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(71, 74, 85);
}
.linkedin{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(92, 127, 255);
}
.yt{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
}
.ig svg{
    color: white;
    margin-top: 4px;
}
.linkedin svg{
    color: white;
    margin-top: 3.5px;
}
.yt svg{
    color: white;
    margin-top: 2px;
}

/* socials ends here  */


.foot{
    display: flex;
    gap: 5px;
    background-color: black;
    justify-content: center;
    font-family: "Roboto", Sans-serif;
    padding-bottom: 50px;
    font-size: 13px;
}
.foot p{
    color: #828181;
}
.foot a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}
.foot-hover:hover{
    text-decoration: underline;
    color: rgb(243, 60, 60);
}
